.Notifications {
  position: relative;
  height: 75px;
  overflow: hidden;
}
.Notifications[data-empty="false"] {
  max-height: 75px;
  opacity: 1.0;
  transition: max-height 0.25s ease-in-out 0s,
    opacity 0.25s ease-in-out 0s;
}
.Notifications[data-empty="true"] {
  max-height: 0px;
  opacity: 0;
  transition: max-height 0.25s ease-in-out 0s,
    opacity 0.25s ease-in-out 0s;
}

.NotificationItem {
  position: absolute;
  width: 100%;
  max-height: 100px;
  opacity: 1.0;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out 0s,
    opacity 0.25s ease-in-out 0s;
}
.NotificationItem[data-visible="false"] {
  max-height: 0px;
  opacity: 0;
  transition: max-height 0.25s ease-in-out 0s,
    opacity 0.25s ease-in-out 0s;
}
.NotificationItem:not(:last-child) {
  opacity: 0;
}

.NotificationItem__content {
  padding: 10px;
}
.NotificationItem__content__block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 3px;
}
.NotificationItem[data-type="success"] .NotificationItem__content__block {
  color: #ffffff;
  background-color: #4caf50;
}
.NotificationItem[data-type="info"] .NotificationItem__content__block {
  color: #ffffff;
  background-color: dodgerblue;
}
.NotificationItem[data-type="warning"] .NotificationItem__content__block {
  color: #333333;
  background-color: #ffd54f;
}
.NotificationItem[data-type="error"] .NotificationItem__content__block {
  color: #ffffff;
  background-color: #d93636;
}

.NotificationItem__icon {
  flex-basis: 50px;
  width: 50px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
}
.NotificationItem[data-type="success"] .NotificationItem__icon {
  background-image: url('./images/success.png');
  background-size: 25px auto;
}
.NotificationItem[data-type="info"] .NotificationItem__icon {
  background-image: url('./images/info.png');
  background-size: 25px auto;
  filter: invert(1);
}
.NotificationItem[data-type="warning"] .NotificationItem__icon {
  background-image: url('./images/warning.png');
  background-size: 20px auto;
  opacity: 0.5;
}
.NotificationItem[data-type="error"] .NotificationItem__icon {
  background-image: url('./images/error.png');
  background-size: 25px auto;
  filter: invert(1);
}
.NotificationItem__text {
  flex-basis: calc(100% - 80px);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 15px 15px 15px 0px;
}

.NotificationItem__close {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 30px;
  cursor: pointer;
}
.NotificationItem__close > .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  transform: scale(0.5);
}
.NotificationItem__close > .icon > .line {
  position: relative;
  width: 2px;
  height: 100%;
  border-radius: 1px;
  background-color: #ffffff;
}
.NotificationItem[data-type="warning"] .NotificationItem__close > .icon > .line {
  background-color: #000000;
}
.NotificationItem__close > .icon > .line:nth-child(1) {
  left: 1px;
  transform: rotate(-45deg);
}
.NotificationItem__close > .icon > .line:nth-child(2) {
  left: -1px;
  transform: rotate(45deg);
}
