.TableMenu {
  padding: 15px 0px;
  border-bottom: 1px solid #eeeeee;
}
.TableMenu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.TableMenu__list[data-visible="false"] {
  display: none;
}
.TableMenu__list[data-visible="true"] {
  display: flex;
}

.TableMenu__list__set {
  display: flex;
  justify-content: center;
  align-items: center;
}
